{% autoescape off %}
Bonjour {{ user.username }},

Vous avez demandé la réinitialisation de votre mot de passe pour votre compte MangaTrack.

Cliquez sur le lien ci-dessous pour définir un nouveau mot de passe :

{{ protocol }}://{{ domain }}{% url 'tracker:password_reset_confirm' uidb64=uid token=token %}

Ce lien expirera dans 24 heures.

Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email et votre mot de passe restera inchangé.

Cordialement,
L'équipe MangaTrack
{% endautoescape %}